langchain
ipykernel
python-dotenv
langchain-openai
langchain-google-genai
google-generativeai
langchain-community
langchain-core
streamlit
pydantic
requests
faiss-cpu
pypdf2
python-docx
docx2txt
chromadb
beautifulsoup4
sentence-transformers

langgraph
gdown
pytesseract
opencv-python
pinecone